{% extends 'base.html'%}
{% block content %}
    <h1> About Us </h1>
    <hr>
    <br>
    <p>
       <h3> NNJM </h3>
<h4>It is a one-stop online store.</h4>
<p>Who We Are
    NNJM is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. NNJM strives to be Earth’s most customer-centric company. Customer reviews, shopping, personalized recommendations, Fulfillment by NNJM, Direct Publishing, Career Choice.</p>
 </p>
{% endblock %}
