{% extends 'base.html'%}
{% block title %}Policy{% endblock %}
    {% block content %}
    <h1> Policy </h1>
<hr>
<br> <br>

<h2>Privacy policy</h2>
<ul>
    <il>Information You Give Us: We receive and store any information you provide in relation to Amazon Services. Click here to see examples of what we collect. You can choose not to provide certain information, but then you might not be able to take advantage of many of our Amazon Services.</il>

    <il>Purchase and delivery of products and services. We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.</il>


</ul>

<br><hr><br>
<h2>Shipping Policy</h2>
<ul>
    <il>Delivery Guarantees: We offer guaranteed delivery on certain delivery speeds and select products. When guaranteed delivery is available on an order, we'll state this on the checkout page, with the associated delivery date and cost. </il>


</ul>

<br><hr><br>
<h2>Returns Policy</h2>
<ul>
    <il>What can I return?
        You may return most new, unopened items sold and fulfilled by Amazon within 30 days of delivery for a full refund. For the 2023 holiday season, most of the items purchased between 11 October and 25 December 2023 can be returned until 31 January 2024.
        Learn more about Return policy</il>

        <il>When will I get my refund?
        Usually in about 2-3 weeks. Most refunds are fully refunded within 7 days after we receive and process your return.</il>
</ul>


    {% endblock %}